span {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.6em;
}

.card-image {
    text-align: center;
}

.new {
    display: flex;
    flex-drection: row;
    flex-wrap: wrap;
}

.grid {
    flex: auto;
    height: 375px;
}