span {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
}

.card-image {
    text-align: center;
}

.new {
    display: flex;
    flex-drection: row;
    flex-wrap: wrap;
    border: 1px solid #efefef !important;
    border-radius: 4px;
}

.grid {
    flex: auto;
}
h1 {
    font-size: 2em;
    border-bottom: 1px solid;
    margin-bottom: 0;
}

.card {
    margin: 0;
}
.new .col {
    padding-left: 0;
    padding-right: 2em;
}

p {
    font-weight: 700;
}