span {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    line-height: 1em;
}

.card-image {
    text-align: center;
}

.new {
    display: flex;
    flex-drection: row;
    flex-wrap: wrap;
    border: 1px solid #efefef !important;
    border-radius: 4px;
}

.grid {
    flex: auto;
}
h1 {
    font-size: 1.1em;
    margin-bottom: 0;
    font-weight: 600;
}

.card {
    margin: 0;
}
.new .col {
    padding-left: 0;
    padding-right: 2em;
}

p {
    word-wrap: break-word;
    white-space: normal;
    color: #4d4d4d;
    font-size: 0.9em;
    line-height: 1.2em;
    margin-top: 30px;
}

.movie-info-area {
    padding: 0 3em !important;
}